---
layout: default
title: Welcome to My Portfolio
description: Lambert Leong's portfolio which includes research, projects, my thoughts, and other fun content!
---

</div>
</div>
<!-- We've temporary closed main-content and container to have a full width intro -->
<!-- Home Jumbotron
================================================== -->
<section class="intro">
    <center>
        <a href="/about">
        <img src="/assets/images/lambert_prof_2023.png" style="border-radius: 50%"
             height="90px" width="240px" alt="A picture of author.">
        </a>
        <br>
        <h1 style="color:snow"><span>Lambert Leong, PhD</span></h1>
        <h2 style="color:snow"><span>Aloha! My expertise is in:</span></h2>
        <h3 style="color:white">
            Applied Machine Learning (ML) and Artificial Intelligence (AI), Medical Imaging, Biomedical Research
            <!--a href="https://www.lambertleong.com/thoughts/AUC-IDI-NRI" target="_blank">Data  Science,</a>
            <a href="https://www.lambertleong.com/projects/deep-learning-breast-cancer-risk" target="_blank">Medical Imaging,</a>
            <a href="https://www.lambertleong.com/projects/compositional-breast-cancer-ai" target="_blank">Cancer Research</a-->
        </h3>
        <br>
        <!--a href="/about" class="btn" style="color:white">View More about me</a-->
        <a href="https://scholar.google.com/citations?hl=en&user=lmU6f04AAAAJ" target="_blank"><i
                class="ai ai-google-scholar-square ai-2x"></i></a>
        <a href="https://github.com/LambertLeong" target="_blank"><i
                class="fab fa-github fa-2x"></i></a>
        <a href="https://linkedin.com/in/lambert-leong" target="_blank"><i
            class="fab fa-linkedin fa-2x"></i></a>
        <a href="https://twitter.com/leonglambert" target="_blank"><i
                class="fab fa-twitter fa-2x"></i></a>
        <a href="https://www.researchgate.net/profile/Lambert_Leong2" target="_blank"><i
                class="ai ai-researcherid-square ai-2x"></i></a>
    </center>
</section>

<!-- We reopen main-content and container -->
<div class="container">
    <div class="main-content">
        <!-- Featured
        ================================================== -->
        <section class="featured-posts">
            <div class="section-title">
                <h2><span>Featured Post!</span></h2>
            </div>
            <div class="row listfeaturedtag">
                {% for post in site.posts %}
                {% if post.featured == true %}
                {% include featuredbox.html %}
                {% endif %}
                {% endfor %}
            </div>
        </section>

        <!-- Posts Index
        ================================================== -->
        {% if paginator.previous_page %}
        {% if paginator.previous_page > 0 %}
        <div id="jumptopageof"></div>
        {% endif %}
        {% endif %}
        <section class="recent-posts row">
            <div class="col-sm-8">
                <div class="section-title">
                    <h2><span>Recent Posts</span></h2>
                </div>
                <div class="masonrygrid row listrecent">
                    {% for post in paginator.posts %}
                    {% unless post.featured == true %}
                    {% unless post.hide == true %}
                    {% include postbox.html %}
                    {% endunless %}
                    {% endunless %}
                    {% endfor %}
                </div>

                <!-- Pagination -->
                <div class="bottompagination">
        <span class="navigation" role="navigation">
            {% include pagination.html %}
        </span>
                </div>
            </div>

            <!-- Sidebar -->
            <div class="col-sm-4">
                {% include sidebar.html %}
            </div>
        </section>
