<link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/home-stylesheet-customizations2.css">
{% include menubar.html %}


<!-- Home page design with large image to left of bio info. -->
{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}

<div style="height: 100%;" class="ui middle aligned two column centered stackable grid container">

  <div class="column">
    <!div style="position: relative; top: 75px; z-index: 1" class="ui fluid centered large  circular image">
    <div  class="ui fluid large right floated rounded image">
      <img  src="{{ site.data.bio.basics.picture }}">
    </div>
  </div>

  <div style="background-color: lightgray; opacity: .80" class="column">
    <h2 class="header no-bottom">{{ site.data.bio.basics.name }}</h2>
    <p class="">{{ site.data.bio.basics.label }}</p>
    <p class="">
      {{ site.data.bio.basics.summary }}
    </p>

    <h5>
      Interests:
    </h5>
    <p>
      {% for interest in site.data.bio.interests %}
        {{ interest.name }}{% if forloop.last != true %}, {% endif %}
      {% endfor %}
    </p>




    <p style="text-align: center">
      {% include home-network-links.html %}
    </p>
    <!--p style="text-align: center">

        <button class="ui basic button" style="color: black !important; border: 1px solid black !important;  -webkit-transition-duration: 0.4s !important; transition-duration: 0.4s !important;">Thesis</button>
      </a>

      <a href="{{ site.baseurl}}/projects/">
        <button class="ui basic button"  style="color: black !important; border: 1px solid black !important;  -webkit-transition-duration: 0.4s !important; transition-duration: 0.4s !important;">Projects ({{ num_projects }})</button>
      </a>
      <a href="https://lambertleong.github.io/images/lambertleong_resume_2018.pdf" target="_blank"/>
      <button class="ui basic button" style="color: black !important; border: 1px solid black !important;  -webkit-transition-duration: 0.4s !important; transition-duration: 0.4s !important;">{{ site.bio-page-label }}</button>
      </a>

    </p-->
  </div>
</div>
